body{
    margin: 60px;
}

.side-nav-one{
    grid-area: side-nav-one;
}

.side-nav-two{
    grid-area: side-nav-two;
}

.content{
    grid-area: content;
}

.header{
    grid-area: header;
}

.footer{
    grid-area: footer;
}

.container{
    background-color: #fff;
    color: #456;
}

.container{
    display: grid;
    grid-gap:1em;
    grid-template-areas:
    "header"
    "side-nav-one"
    "content"
    "side-nav-two"
    "footer";
}

@media only screen and (min-width: 500px) {
    .container{
        grid-template-columns: 20% auto;
        grid-template-areas:
        "header header"
        "side-nav-one content"
        "side-nav-two side-nav-two"
        "footer footer";
}

@media only screen and (min-width: 600px){
    .container{
        grid-gap: 20%;
        grid-template-columns: 120px auto 120px;
        grid-template-areas:
        "header header header"
        "side-nav-one content side-nav-two"
        "footer footer footer";
        max-width: 600px;
    }
}


}

.area{
    background-color: pink;
    color: purple;
    border-radius: 5px;
    padding: 15px;
    font-size: 100%;
}

.header, .footer{
    background-color: salmon;
}

.side-nav-two{
    background-color: greenyellow;
    color: #542;
}