body{
    margin: 40px;
}

.container{
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(4, [col] 100px);
    grid-template-rows: repeat(3, [row] auto);
    background-color: blue;
    color: #444;
}

.area{
    background-color: red;
    color: white;
    border-radius: 5px;
    padding: 20px;
    font-size: 150%;
}

.box-a{
    grid-column: col / span 2;
    grid-row: row;
}

.box-b{
    grid-column: col 3 / span 2;
    grid-row: row;
}

.box-c{
    grid-column: col;
    grid-row: row 2;
}
.box-d{
    grid-column: col 2 / span 3;
    grid-row: row 2;
}

.box-e{
    grid-column: col / span 4;
    grid-row: row 3;
}